/*-- scss:defaults --*/

// colors ----------------------------------------------------------------------

$amaranth: #E94560;
$gunmetal: #222831;
$imperial-red: #F05454;
$seasalt: #F9F7F7;
$snow: #FAF3F3;

// base document colors
$body-bg: $gunmetal;
$body-color: $snow;
$footer-bg: $imperial-red; // footer background color
$footer-fg: $snow; // footer foregound elements' color
$navbar-bg: $imperial-red; // navbar
$navbar-fg: $snow; // navbar foreground elements

// inline code
$code-bg: $seasalt;
$code-color: $amaranth;
$gunmetal: #222831;
$imperial-red: #F05454;
$platinum: #DDDDDD;
$snow: #FAF3F3;

// navigation ------------------------------------------------------------------

