/*-- scss:defaults --*/

// colors ----------------------------------------------------------------------

$lapis-lazuli: #2e5a7f;
$seasalt: #F9F7F7;
$snow: #FAF3F3;
$puce: #DA7F8F;
$columbia-blue: #B9D7EA;

// base document colors
$navbar-bg: $lapis-lazuli; // navbar
$navbar-fg: $snow; // navbar foreground elements
$footer-bg: $lapis-lazuli; // footer background color
$footer-fg: $snow; // footer foreground elements' color
$page-bg: $snow;

// inline code
$code-bg: $seasalt; // inline code background color
$code-color: $puce; // inline code text color

// navigation ------------------------------------------------------------------

/*
.navbar {
  .nav-link {
    &.active {
      color: $snow !important;
    }
  }
}
*/
.navbar {
  .nav-link {
    color: white; // default link color

    &:hover { // link is underlined when hovered over
      color: white;
      text-decoration: underline;
    }

    &.active {
      color: white !important; // current active page is white 
      font-weight: bold;

      &:hover { 
        text-decoration: underline;
      }
    }
  }
}

